<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Suite">
  <test name="Test">
    <classes>
      <class name="practice.learning.testng.LoginTestWithTestNG"/>
      <class name="practice.learning.testng.PerformBankingTest"/>
      <class name = "practice.learning.testng.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
